<beans xmlns="http://www.springframework.org/schema/beans"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">

	<bean id="one" class="com.beanpostprocessor.SpringBean" init-method="init" destroy-method="destroy">
		<property name="name" value="Yasin" />
	</bean>

	<bean class="com.beanpostprocessor.SpringBeanPostProcessor" >
	</bean>
	
</beans>